<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>

  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Junho Lee
              </h1>
              <br>
              <br>
              <p>I am a post-doc researcher at the <a href="https://3d.snu.ac.kr//">3D Vision Lab</a>, part of the <a href="https://ee.snu.ac.kr//">Department of Electrical and Computer Engineering</a> at <a href="https://www.snu.ac.kr/">Seoul National University</a>, where I work on reliable 3D perception and robotic manipulation of transparent and specular objects. My principle investigator is <a href="https://3d.snu.ac.kr/members/">Young Min Kim</a>.
              </p>
              <p>
                My research goal is to build a reliable robotic system that can perceive and manipulate visually confounding real-world objects.
                Specifically, I focus on manipulating transparent objects or objects in clutter with a robot arm.
                Currently, I am working on integrating perception with diffusion policies.
              </p>
            <p style="text-align:center">
              <a href="/pdfs/CV.pdf"><i class="fa-solid fa-file-lines" style="font-size: 40px; margin: 0px 10px;"></i></a> &nbsp;/&nbsp;
              <!-- <a href="/pdfs/cv_ppt.pdf"><i class="fa-solid fa-image" style="font-size: 40px; margin: 10px 10px;"></i></a> &nbsp;/&nbsp; -->
              <a href="https://github.com/twjhlee"><i class="fab fa-github" style="font-size: 40px; margin: 0 10px;"></i></a> &nbsp;/&nbsp;
              <a href="https://www.linkedin.com/in/twjhlee"><i class="fab fa-linkedin" style="font-size: 40px; margin: 0 10px;"></i></a> &nbsp;/&nbsp;
              <a href="https://scholar.google.com/citations?user=FnVfwIUAAAAJ&hl=en"><i class="fa-brands fa-google" style="font-size: 40px; margin: 0 10px;"></i></a>
            </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/JL_circle.jpg">
            </td>
          </tr>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>News<i class="fa-solid fa-newspaper" style="font-size: 25px; margin: 0 10px;"></i></h2>
                <br>
                <ul>
                    <li>Sept. 2025: Postdoc researcher, Seoul National University</li>
                    <li>Aug. 2025: Ph.D. in Electrical and Computer Engineering, Seoul National University</li>
                    <li>Nov. 2023: One paper got accepted to RA-L</li>
                    <li>Jun. 2022: One paper got accepted to IROS 2022</li>
                    <li>Sept. 2020: Joined 3D Vision Lab @ SNU</li>
                    <li>Sept. 2020: Bachelor's degree in Electrical and Computer Engineering @ SNU</li>
                </ul>
              </td>
            </tr>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">
 

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications<i class="fa-solid fa-book-open" style="font-size: 25px; margin: 0 10px;"></i></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/anycamvla_thumbnail.png' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="https://arxiv.org/abs/2603.05868">
                <papertitle>AnyCamVLA: Zero-Shot Camera Adaptation for Viewpoint Robust Vision-Language-Action Models
                </papertitle>
                </a>
                <br>
                Hyeongjun Heo, Seungyeon Woo, Sang Min Kim, Junho Kim, <b>Junho Lee</b>,Yonghyeon Lee, Young Min Kim
                <br>
                <em>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</em>, 2026
                <br>
                <a href="https://arxiv.org/abs/2603.05868"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="https://heo0224.github.io/AnyCamVLA/"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
 

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/INGRID.png' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="pdfs/rss_final_ingrid.pdf">
                <papertitle>INGRID: Interactive Geometry and Instance Identification for Occluded Scenes
                </papertitle>
                </a>
                <br>
                <b>Junho Lee</b>, Sang Min Kim, Yonghyeon Lee, and Young Min Kim
                <br>
                <em>Robotics: Science and Systems Workshop (RSS)</em>, 2026
                <br>
                <a href="https://arxiv.org/abs/2603.05868"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="projects/INGRID"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="https://youtu.be/zDi0jirDK80"><i class="fa-solid fa-video" style="font-size: 20px; margin: 10px 15px;"></i></a>
                <p></p>
            </td>
        </table>
 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/thesis_thumbnail.png' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="pdfs/thesis.pdf">
                <papertitle>Toward Reliable Vision-Based Robotic Grasping in Transparency and Clutter
                </papertitle>
                </a>
                <br>
                <b>Junho Lee</b>
                <br>
                <em>PhD Thesis</em>, 2025
                <br>
                <a href="pdfs/thesis.pdf"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/thumbnail2.png' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="https://ieeexplore.ieee.org/document/10328050">
                <papertitle>NFL: Normal Field Learning for 6-DoF Grasping of Transparent Objects
                </papertitle>
                </a>
                <br>
                <b>Junho Lee</b>, Sang Min Kim, Yonghyeon Lee, and Young Min Kim
                <br>
                <em>IEEE Robitics and Automation Letters (RA-L)</em>, 2024
                <br>
                <a href="https://ieeexplore.ieee.org/document/10328050"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="https://youtu.be/b92CTDKeEk8"><i class="fa-solid fa-video" style="font-size: 20px; margin: 10px 15px;"></i></a>
                <a href="https://github.com/twjhlee/Normal-Field-Learning"><i class="fa-solid fa-code" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="projects/NFL"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
  
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/maskgrasp.gif' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="https://ieeexplore.ieee.org/document/9982130">
                <papertitle>MasKGrasp: Mask-based Grasping for Scenes with Multiple General Real-world Objects
                </papertitle>
                </a>
                <br>
                <b>Junho Lee</b>, Junhwa Hur, Inwoo Hwang, and Young Min Kim
                <br>
                <em>IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</em>, 2022
                <br>
                <a href="https://ieeexplore.ieee.org/document/9982130"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="https://www.youtube.com/watch?v=iWvstHPu97Y"><i class="fa-solid fa-video" style="font-size: 20px; margin: 10px 15px;"></i></a>
                <a href="projects/maskgrasp"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src=' images/gatsbi.gif' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <a href="https://arxiv.org/abs/2104.04275">
                <papertitle>GATSBI: Generative Agent-centric Spatio-temporal Object Interaction
                </papertitle>
                </a>
                <br>
                Cheol-Hui Min, Jinseok Bae, <b>Junho Lee</b>, and Young Min Kim
                <br>
                <em>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</em>, 2021, Oral
                <br>
                <a href="https://arxiv.org/abs/2104.04275"><i class="fa-solid fa-file" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <a href="https://www.youtube.com/watch?v=nAf87_0T5CE&feature=youtu.be&ab_channel=3DVisionLabattheSeoulNationalUniversity"><i class="fa-solid fa-video" style="font-size: 20px; margin: 10px 15px;"></i></a>
                <p></p>
            </td>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects<i class="fa-solid fa-diagram-project" style="font-size: 25px; margin: 0 10px;"></i></h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src='images/normal_real_time_normal.gif' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <papertitle>Real-time Normal Gaussian Splats</papertitle>
                <br>
                <a href="/projects/normal-gaussian-splats"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:20px;width:25%;vertical-align:middle">
                <div class="one">
                <img src='images/teleop.png' width="160">
                </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
                <papertitle>Teleop Demonstration Accumulation for Diffusion Policies</papertitle>
                <br>
                <a href="/projects/teleop-diffusion-policy"><i class="fa-solid fa-link" style="font-size: 20px; margin: 10px 10px;"></i></a>
                <p></p>
            </td>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education<i class="fa-solid fa-graduation-cap" style="font-size: 25px; margin: 0 10px;"></i></h2>
              <br>
              <ul>
                <li>Seoul National University, Seoul, Sep.2020 - Aug.2025 Ph.D. in Electrical and Computer Engineering</li>
                <li>Seoul National University, Seoul, Mar.2017 - Aug.2020 B.S. in Electrical and Computer Engineering</li>
              </ul>
            </td>
          </tr>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Honors and Awards<i class="fa-solid fa-award" style="font-size: 25px; margin: 0 10px;"></i></h2>
                <br>
                <ul>
                  <li>Tutor awards by SNU College of Engineering 2021</li>
                </ul>
              </td>
            </tr>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Patents<i class="fa-solid fa-receipt" style="font-size: 25px; margin: 0 10px;"></i></h2>
                <br>
                <ul>
                  <li>KR10-2596914: Environment-aware color measurement method, apparatus, and computer-readable medium</li>
                </ul>
              </td>
            </tr>
        </table>
        <hr style="background:DarkGray; height:1px; border:0; width: 97%">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Academic Activities<i class="fa-solid fa-circle-check" style="font-size: 25px; margin: 0 10px;"></i></h2>
                <br>
                <ul>
                  <li>Reviewer: RA-L, ICRA, IROS, PG</li>
                </ul>
              </td>
            </tr>
          </table>
      
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
                <br>
                Jekyll template from <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">Leonid Keselman's website
                <br>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

