<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Junho Lee
              </h1>
              <p>I am a PhD student at the <a href="https://3d.snu.ac.kr//">3D Vision Lab</a>, part of the <a href="https://ee.snu.ac.kr//">Department of Electrical and Computer Engineering</a> at <a href="https://www.snu.ac.kr/">Seoul National University</a>, where I work on 3D vision based grasping of transparent and specular objects. My PhD advisor is <a href="https://3d.snu.ac.kr/members/">Young Min Kim</a>.
              </p>
              <p>
                My research goal is to build a robotic system that can robustly perceive and manipulate real-world objects. Specifically, I focus on manipulating transparent objects with a robot arm. Currently, I am working on grasping such objects via neural fields while obtaining input from an RGB-D camera.
              </p>
              <p>
                I have received an BS in ECE from <a href="https://www.snu.ac.kr/">Seoul National University</a>.
              </p>
              <p style="text-align:center">
                <a href="/pdfs/CV.pdf"> CV</a> &nbsp;/&nbsp;
                <a href="https://github.com/twjhlee">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=WeWEP2YAAAAJ&hl=ko&oi=sra">Google Scholar</a> &nbsp;;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/JL_circle.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications</h2>
              <p>
                I'm interested in computer vision, machine learning, robotics, and Neural Radiance Fields.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr onmouseout="maskgrasp_stop()" onmouseover="maskgrasp_start()">
                <td style="padding:20px;width:25%;vertical-align:middle">
                  <div class="one">
                    <div class='two' id='maskgrasp_over'>
                      <img src="images/maskgrasp.gif" width="160">
                    </div>
                    <img src=' images/maskgrasp.jpg' width="160">
                  </div>
                  <script type="text/javascript">
                    function maskgrasp_start() {
                      document.getElementById('maskgrasp_over').style.opacity = "1";
                    }

                    function maskgrasp_stop() {
                      document.getElementById('maskgrasp_over').style.opacity = "0";
                    }
                    maskgrasp_stop()
                  </script>
                </td>
                <td style="padding:20px;width:75%;vertical-align:middle">
                  <a href="https://ieeexplore.ieee.org/document/9982130">
                    <papertitle>MasKGrasp: Mask-based Grasping for Scenes with Multiple General Real-world Objects
                    </papertitle>
                  </a>
                  <br>
                  <b>Junho Lee</b>, Junhwa Hur, Inwoo Hwang , and Young Min Kim
                  <br>
                  <em>IROS</em>, 2022
                  <br>
                  <a href="https://ieeexplore.ieee.org/document/9982130">paper</a>
                  <a href="https://www.youtube.com/watch?v=iWvstHPu97Y">video</a>
                  <p></p>
                  <p>A real world grasping algorithm that can generalize to transparent and opaque obejcts via masks.
                  </p>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
              <p>
                Seoul National University, Seoul, Korea Sep.2020 - Present M.S./Ph.D. in Electrical and Computer Engineering
                Seoul National University, Seoul, Korea Mar.2017 - Aug.2020 B.S. in Electrical and Computer Engineering
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Honors and Awards</h2>
                <p>
                  Tutor awards by SNU College of Engineering 2021
                </p>
              </td>
            </tr>
          </table>

      
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
                <br>
                Jekyll template from <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">Leonid Keselman's website
                <br>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

